<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Manage stream: {{title}}</title>
  </head>
  <body>
    {% include 'navbar.html' %}
    <main class="flex-shrink-0">
        <div class="container">
            <div class="card mt-3">
                <!--<div class="card-header">
                </div>-->
                <div class="card-body">
                    <a href="/api/watch?v={{id}}">Stream Link</a>
                    <form method="POST">
                        <div class="mb-3">
                          <label class="form-label">Stream Key</label>
                          <input type="text" class="form-control" id="stream_key" name="stream_key" value="{{stream_key}}" readonly>
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Server</label>
                          <input type="text" class="form-control" id="url" name="url" value="rtmp://live.clover.club/app/" readonly>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Title</label>
                            <input type="text" class="form-control" id="title" name="title" value="{{title}}">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Author</label>
                            <input type="text" class="form-control" id="author" name="author" value="{{author}}">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Description (Markdown Enabled)</label>
                            <textarea class="form-control" id="information" name="information">{{information}}</textarea>
                          </div>
                        <Input type="submit" class="btn btn-primary" value="Submit">
                      </form>
                </div>
              </div>
        </div>
    </main>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>
