<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Clover Club LIVE</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/api/manage">Go Live</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="//clover.club/post">Posts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="//clover.club/forum/yah">Forum</a>
              </li>
        </ul>
    </div>
</nav>