<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://vjs.zencdn.net/7.17.0/video-js.css" rel="stylesheet" />
    <title>{{title}}</title>
  </head>
  <body>
    {% include 'navbar.html' %}
    <main class="d-flex">
      <div class="container">
      {% if live_now == 1 %}
          <video
          id="my-video"
          class="video-js vjs-fluid mt-3"
          controls
           data-setup='{"liveui": true}'
        >
        <source src="/hls/{{id}}.m3u8" type="application/x-mpegURL" />
          <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a
            web browser that
            <a href="https://videojs.com/html5-video-support/" target="_blank"
              >supports HTML5 video</a
            >
          </p>
        </video>
      {% else %}
        <h3 class="m-5">Waiting....</h3>
        <meta http-equiv="refresh" content="5">
      {% endif %}
        <script src="https://vjs.zencdn.net/7.15.4/video.min.js"></script>

            <div class="card mt-3">
                <!--<div class="card-header">
                </div>-->
                <div class="card-header">
                  <h1>{{title}}</h1>
                  <h6>By: {{author}}</h6>
                </div>
                <div class="card-body">
                  <div id="content"></div>
                  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
                  <script>
                    document.getElementById('content').innerHTML =
                      marked.parse({{string_content|safe}});
                  </script>
                </div>
              </div>
        </div>
      <div style="width:400px;" class="mt-4 me-4">
        <div class="card">
          <div class="card-header">
            Chat
          </div>
          <div class="card-body p-1 overflow-auto" style="height: 70vh" id="chatscroll">
            <div class="p-0">
              <ul class="list-group" id="chats">
              </ul>
            </div>
          </div>
          <div class="card-footer text-muted">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Chat" id="messageInput">
              <button class="btn btn-outline-secondary" type="button" id="sendButton">Send</button>
            </div>
          </div>
      </div>
    </main>
    <script type="text/javascript">
var badgeClasses = [
  "badge bg-primary",
  "badge bg-secondary",
  "badge bg-success",
  "badge bg-danger",
  "badge bg-warning text-dark",
  "badge bg-info text-dark",
  "badge bg-light text-dark",
  "badge bg-dark"
];

var urlSearchParams = new URLSearchParams(window.location.search);
var v = urlSearchParams.get('v');
var lastSeenChat = 0;
var updateChat = () => {
  console.log('fetching chat')
  var xhr = new XMLHttpRequest();
  // listen for `load` event
  xhr.onload = () => {
      // print JSON response
      if (xhr.status >= 200 && xhr.status < 300) {
          var div = document.getElementById('chatscroll');
          var isScrolled = Math.abs(div.scrollTop - (div.scrollHeight - div.clientHeight)) < 10;

          // parse JSON
          var response = JSON.parse(xhr.responseText);
          console.log(response);
          response.reverse().forEach(row => {
            var item = document.createElement('li');
            item.className = 'list-group-item ps-1 text-break';
            var idBadge = document.createElement('span');

            // ugly hack to give it a color
            var colorCode = row.chatter_id.charCodeAt(0);

            idBadge.className = badgeClasses[colorCode % badgeClasses.length];
            idBadge.textContent = row.chatter_id.substring(1);
            item.appendChild(idBadge);
            var textnode = document.createTextNode(row.message);
            item.appendChild(textnode);    
            document.getElementById('chats').appendChild(item);
            lastSeenChat = row.spoken_at;
          });
          if (isScrolled) {
            div.scrollTop = div.scrollHeight - div.clientHeight;
          }
      }
  };
  // open request
  var getParams = new URLSearchParams();
  getParams.set('v', v);
  getParams.set('last_spoken', lastSeenChat);
  xhr.open('GET', '/api/chat?' + getParams.toString());
  // send rquest with JSON payload
  xhr.send();
}
setInterval(updateChat, 1000);
var sendChat = () => {
  var xhr = new XMLHttpRequest();
  const json = {
      'v': v,
      'message': document.getElementById('messageInput').value
  };
  // open request
  xhr.open('POST', '/api/chat');
  // set `Content-Type` header
  xhr.setRequestHeader('Content-Type', 'application/json');
  // send rquest with JSON payload
  xhr.send(JSON.stringify(json));
  document.getElementById('messageInput').value = "";
}

document.getElementById('messageInput').addEventListener('keyup', function onEvent(e) {
  if (e.keyCode === 13) {
    sendChat();
  }
});

document.getElementById('sendButton').addEventListener('click', sendChat);
    </script>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>
